@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", system-ui, -apple-system, sans-serif;

  --color-black: #27272A;
  --color-grey-dark: #696969;
  --color-grey-light: #E5E7EB;
  --color-white: #FCFBFA;
  --color-lavender: #7E3AF2;
  --color-red: #E02424;
  --color-primary: #7E3AF2;
  --color-danger: #E02424;

  --text-h1-desktop: 3.75rem;
  --text-h2: 2rem;
  --text-h3: 1.5rem;
  --text-subtitle-desktop: 1.25rem;
  --text-subtitle2-desktop: 1rem;
  --text-body-desktop: 1.25rem;
  --text-body-2: 1rem;

  --text-h1: 1.5rem;
  --text-subtitle: 1.25rem;
  --text-subtitle-2: 0.875rem;
  --text-body: 0.875rem;

  --font-weight-h1-desktop: 700;
  --font-weight-h2: 700;
  --font-weight-h3: 600;
  --font-weight-subtitle-desktop: 600;
  --font-weight-subtitle2: 600;
  --font-weight-body: 400;
  --font-weight-body-2: 400;

  --font-weight-h1-mobile: 600;
  --font-weight-subtitle: 700;

}

