@import "tailwindcss";

@theme {
  --color-black: #27272A;
  --color-grey-dark: #696969;
  --color-grey-light: #E5E7EB;
  --color-white: #FCFBFA;
  --color-lavender: #7E3AF2;
  --color-red: #E02424;
  --color-primary: #7E3AF2;
  --color-danger: #E02424;

  --font-sans: "Montserrat", system-ui, sans-serif;
  --font-montserrat: "Montserrat", sans-serif;

  --font-size-h1: 3.75rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
  --font-size-subtitle: 1.25rem;
  --font-size-subtitle-2: 1rem;
  --font-size-body: 1.25rem;
  --font-size-body-2: 1rem;
}